<div>{{this.casting}}</div>
<ul *ngIf="results.length>0; else loading">
  <li *ngFor="let city of results">
    {{ city.title }} -   <button class="enlace negrita " type="button" (click)="detalle(city)">detalle</button> - <button class="enlace negrita " type="button" (click)="borrar()">borrar</button> 
  </li>

  <li *ngFor="let personaje of nombrePersonajes">
    {{personaje}}
  </li>
  <!-- <li *ngFor="let detalle of detalleDePeli">
    {{detalle.producer}}
  </li> -->
</ul>

<ng-template #loading>No cities found</ng-template>
